#nav ul{
	list-style-type:none;
	margin:auto;
	padding:0;
	overflow: hidden;
	background-color: #505160;
	width:100%;
	font-size: 20px;
	position: fixed;
	top:0;
	z-index:1;
	opacity:0.9;
}
#nav li {
	display: inline;
	float:left;
	text-align: center;
}
#nav li a {
	display: block;
	color: white;
	padding: 4px 6px;
	text-decoration:none;
	text-align: center;
	font-family: amiri;
	font-weight: bold;
}
#nav li a:hover{
	color:white;
	background-color:#90afc5;
	transition: all 0.3s ease;
	font-family:amiri;
}